footer {
    width: 100%;
    height: auto;
    background: $backgroundColor_1;

    //上部
    .top {
        width: 100%;
        height: 80px;

        .center {
            width: 1400px;
            height: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: center;

            button {
                width: 25px;
                height: 100%;
                position: relative;
                background: none;

                &::before {
                    content: "";
                    position: absolute;
                    width: 10px;
                    height: 18px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }

                &.next {
                    
                    &::before {
                        transform: translate(-50%,-50%) scaleX(-1);
                    }
                }
            }

            .partnerBox {
                width: 100%;
                height: 100%;
                overflow: hidden;

                .partners {
                    display: flex;
                    width: auto;
                    height: 100%;
                    align-items: center;
                    transition: 0.6s ease;

                    i {
                        width: 170px;
                        height: 55px;
                        margin: 0 10px;
                        opacity: 0.6;
                    }
                }
            }
        }
    }

    //下部
    .footerList {
        width: 100%;
        height: auto;
        background: $backgroundColor_1;

        .center {
            width: 1000px;
            height: 80px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            a {
                color: $fontColor_1;
                font-size: 18px;
                font-weight: bold;
                text-decoration: none;

                &:hover,&:active,&.active {
                    color: $fontColor_6;
                }
            }
        }

        .bottomText {
            width: 100%;
            height: auto;
            text-align: center;
            padding-bottom: 20px;
            
            p {
                color: $fontColor_1;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 1px;
            }
        }
    }
}