footer{
    width: 100%;
    height: auto;
    background: $footerBG;

    .top {
        width: 100%;
        height: 50px;
        background: $footer_Top_BG;

        ul{
            width: 628px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 auto;

            li{
                width: auto;
                height: auto;
                color: $footer_Top_Word;
                cursor: pointer;

                &:hover,&:active,&.active {
                    color: $footer_Top_Active;
                }
            }
        }
    }

    .bottom-platform{
        width: 1200px;
        height: 130px;
        margin: 0 auto;
        

        ul {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            li {
                width: auto;
                height: auto;
            }
        }
    }

    .bottom-copy {
        width: 100%;
        height: auto;
        padding: 25px 0;

        p {
            color: $footer_Bottom_Word;
            font-size: 14px;
            font-weight: bold;
            text-align: center;
        }
    }
}
    
