.helpPage {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 120px 0 28px;

    .wrap {
        display: flex;
        justify-content: space-between;

        //左側
        .leftArea {
            width: 280px;
            height: auto;

            .helpList {
                width: 100%;
                height: auto;
                @include bgStyle_1;

                li {
                    width: 100%;
                    height: 60px;
                    flex-direction: column;
                    position: relative;
                    overflow: hidden;

                    //新手幫助ICON
                    .newMember {
                        width: 21px;
                        height: 21px;
                        margin-right: 17px;
                        background-position-y: 0;
                    }

                    //常見問題ICON
                    .commonQA {
                        width: 21px;
                        height: 21px;
                        margin-right: 17px;
                        background-position-y: 32%;
                    }

                    //關於我們ICON
                    .aboutUS {
                        width: 21px;
                        height: 21px;
                        margin-right: 17px;
                        background-position-y: 66%;
                    }

                    //APP下載ICON
                    .appDownload {
                        width: 21px;
                        height: 21px;
                        margin-right: 17px;
                        background-position-y: 100%;
                    }

                    &:hover,&:active {

                        p {
                            
                            &:first-child {

                                &::before {
                                    transform: rotate(0deg);
                                }
                            }
                        }
                    }

                    &.active {
                        height: auto;

                        p {
                            
                            &:first-child {

                                &::before {
                                    transform: rotate(90deg);
                                }
                            }
                        }
                    }

                    p {
                        width: 100%;
                        height: 45px;
                        display: flex;
                        align-items: center;
                        flex-shrink: 0;
                        padding: 0 62px;
                        cursor: pointer;

                        &:first-child {
                            height: 60px;
                            color: $chooseStyle_Word_1;
                            font-size: 20px;
                            font-weight: bold;
                            padding: 0 24px;

                            &::before {
                                content: "";
                                width: 9px;
                                height: 16px;
                                position: absolute;
                                right: 24px;
                                transition: 0.3s all;
                            }
                        }

                        &:not(:first-child) {
                            @include chooseStyle;
                            border: none;
                            color: $chooseStyle_Word_2;
                            font-size: 18px;
                        }
                    }
                }
            }
        }

        //右側
        .rightArea {
            width: 900px;
            height: auto;
            min-height: 600px;
            @include bgStyle_1;
            padding: 35px;

            .helpDetail {
                display: none;

                &.display {
                    display: block;
                }
            }

            .lineBox {
                width: 100%;
                height: auto;

                .helpTitle {
                    color: $main-font;
                    font-size: 24px;
                    font-weight: bold;
                    margin-bottom: 29px;
                }

                .content {
                    margin-bottom: 33px;

                    p {
                        color: $subs-font;
                        font-size: 16px;
                        line-height: 30px;
                    }
                    .sub-title {
                        color: $subs-font;
                        font-size: 16px;
                        font-weight: bold;
                    }

                    ul {
                        ol {
                            padding-left: 30px;
                            margin:15px 0 ;

                            li {
                                color: $subs-font;
                                font-size: 16px;
                                line-height: 30px;
                            
                                a {
                                   color: $remind; 
                                   cursor: pointer;
                                }
                            }
                        }
                        .step {
                            li {
                                list-style-type: decimal;
                            }
                        }
                        .dot {
                            li {
                                list-style-type:disc;
                            };
                        }
                        .Lrome {
                            li {
                                list-style-type:lower-roman;
                            };
                        }
                    }

                    a {
                        color: $helpPage_link;
                        text-decoration: none;
                        cursor: pointer;

                        &:hover,&:active,&.active {
                            text-decoration:underline;
                        }
                    }

                    .sub-tit {
                        display: flex;

                       .subTi {
                            color: $main-font;
                            font-size: 20px;
                        }
                    }

                    .bold {
                        color: $subs-font;
                        font-size: 16px;
                        font-weight: bold;
                    }

                    code {
                        padding: 0.2em 0.4em;
                        font-family: 'Courier New', Courier, monospace;
                        background-color: $helpPage_linkBG;
                        border-radius: 3px;
                        cursor: text;
                    }

                    //提款頁說明圖
                    .applypic {
                        width: 822px;
                        height: 964px;
                    }

                    //轉帳頁說明圖
                    .transferpic {
                        width: 820px;
                        height: 706px;
                    }

                    //遠端協助頁說明圖
                    .teamViewer {
                        width: 187px;
                        height: 144px;
                    }
                    .tvWindow {
                        width: 275px;
                        height: 379px;
                    }
                    
                    //證照展示
                    .license {
                        width: 824px;
                        height: 1097.77px;
                    }


                    //歐博下載按鈕
                    .AB, .WM {
                        width: 255px;
                        height: 39px;
                    }

                    //沙龍下載按鈕
                    .SA {
                        width: 142px;
                        height: 39px;
                        font-weight: 600;
                        margin-left: 15px;
                    }

                    //沙龍下載標題+按鈕
                    .downloadBtn {
                        @include mainBtn;

                        .DLbtn {
                            color: $dark-font;

                            &:hover,&:active,&.active {
                                text-decoration: none;
                            }
                        }
                    }

                }

            }

            :first-child {
                margin-top: 0;
            }
            
        }
    }
}