.mainWrap {
    width: 100%;
    height: auto;
    background: $backgroundColor_4;

    //跑馬燈
    .marqueeArea {
        width: 100%;
        height: auto;
        padding: 15px 0;

        .center {
            width: 1400px;
            height: 35px;
            margin: 0 auto;

            .marqueeWrap {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                background: $backgroundColor_3;
                box-shadow: 0 5px 10px -5px $boxShadow_3;
                border-radius: 35px;

                .marquee_ic {
                    width: 18px;
                    height: 18px;
                    margin: 0 8px 0 15px;
                }

                .marquee {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    display: flex;
                    align-items: center;

                    p {
                        display: inline-block;
                        font-size: 14px;
                        font-weight: bold;
                        padding-left: 100%;
                        animation: marquee 10s linear infinite;
                        white-space: nowrap;
                    }

                    @keyframes marquee {
                        0% {
                            transform: translate(0%);
                        }

                        100% {
                            transform: translate(-100%);
                        }
                    }
                }
            }
        }
    }

    //下橫條選單
    .downBar {
        width: 1400px;
        height: 200px;
        border-radius: 35px;
        background: $linear_1;
        box-shadow: 0px 5px 10px 0px $boxShadow_2;
        display: flex;
        margin: 0 auto;

        li {
            width: 25%;
            height: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            font-weight: bold;
            color: $fontColor_2;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer;
            position: relative;

            &:hover,&:active,&.active {

                i {
                    background-position-y: 100%;
                }
            }

            &::before {
                content: "";
                position: absolute;
                width: 2px;
                height: 140px;
                top: 50%;
                right: -1px;
                transform: translateY(-50%);
                background: $borderColor_10;
            }

            &:last-child {
                
                &::before {
                    display: none;
                }
            }

            i {
                width: 150px;
                height: 150px;

                &.depositTeach {
                    background-position-x: 0;
                }
                &.withdrawalTeach {
                    background-position-x: 25%;
                }
                &.walletTeach {
                    background-position-x: 50%;
                }
                &.vip {
                    background-position-x: 75%;
                }
            }
        }
    }

    .center {
        width: 1400px;
        height: auto;
        margin: 40px auto 0;

        //中間選單
        .typeList {
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            grid-gap: 36px 0;

            li {
                width: auto;
                height: auto;
                cursor: pointer;
                position: relative;

                &:hover,&:active,&.active {

                    &::before {
                        content: "";
                        position: absolute;
                        left: 50%;
                        bottom: 21px;
                        transform: translateX(-50%);
                        width: 40%;
                        height: 2px;
                        background: $borderColor_3;
                    }
                }

                &.sportLive,
                &.av {

                    &:hover,&:active,&.active {

                        &::before {
                            bottom: 20px;
                        }
                    }
                }
            }
        }
    }

    .downBox {
        width: 100%;
        height: 240px;
        margin-top: 86px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $backgroundColor_3;
        box-shadow: 0 -10px 15px $boxShadow_3;

        ul {
            width: 1400px;
            height: auto;
            display: flex;

            li {
                width: 25%;
                height: auto;
                display: flex;
                align-items: center;
                position: relative;

                &:nth-of-type(2) {
                    
                    .textBox {
                        left: 145px;
                    }
                }
                &:nth-of-type(3) {
                    
                    .textBox {
                        left: 155px;
                    }
                }

                i {
                    display: block;
                    width: 170px;
                    height: 170px;
                    
                    &.trust_ic {
                        background-position-x: 0;
                    }
                    &.promise_ic {
                        background-position-x: 25%;
                    }
                    &.product_ic {
                        background-position-x: 50%;
                    }
                    &.service_ic {
                        background-position-x: 75%;
                    }
                }

                .textBox {
                    width: auto;
                    height: auto;
                    position: absolute;
                    left: 135px;
                    margin-top: 15px;

                    .title {
                        color: $fontColor_15;
                        font-size: 1.5rem;
                        font-weight: bold;
                        margin-bottom: 10px;
                    }

                    p:not(.title) {
                        color: $fontColor_2;
                        font-size: 1rem;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}