//遊戲平臺
.platformGame {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 120px 0 28px;

    //左大圖
    .leftArea {
        width: 50%;
        height: auto;

        img {
            width: 100%;
            object-fit: contain;
        }
    }

    //右按鈕
    .rightArea {
        width: 50%;
        height: auto;
        
        img {
            width: 100%;
            height: 185px;
            object-fit: cover;
            object-position: top;
        }

        .textInfo{
            width: 100%;
            height: auto;

            //遊戲類型標題
            .title {
                width: 100%;
                color: $main-font;
                font-size: 62px;
                font-weight: bold;
                padding-top: 50px;
            }

            //英文副標
            .subTitle {
                width: 100%;
                color: $pfGame_subTitle;
                font-size: 38px;
                font-weight: bold;
                text-align: right;
                padding-right: 60px;
            }
        }

        //遊戲類型介紹 
        .textBox {
            width: 100%;
            height: auto;
            color: $pfGame_textBox;
            font-size: 15px;
            font-weight: bold;
            line-height: 25px;
            margin-top: 40px;
        }

        //各遊戲按鈕
        .btnBox {
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: repeat(3,188px);
            gap: 20px;
            margin-top: 40px;

            .btn {
                width: auto;
                height: auto;
                cursor: pointer;

                &:hover,&:active,&.active {
                    
                    img {
                        object-position: bottom;
                    }
                }

                .platformName{
                    width: 100%;
                    font-size: 14px;
                    color: $main-font;
                    text-align: center;
                    padding-top: 17px;
                }
            }
        }
    
    }
    
    //遊戲內頁下層_遊戲總覽(BNGlsit)
    .listAll {
        width: 100%;
        height: auto;
        @include bgStyle_1;
        padding: 0 16px 16px;
    
        .top {
            border-bottom: solid 1px $main-Border_1;
            margin-bottom: 25px;
            display: flex;
            align-items: center;
            justify-content: space-between;
    
            // 分類tab
            .filterTab {
                width: auto;
                height: 70px;
                display: flex;
        
                li {
                    width: auto;
                    height: 100%;
                    color: $subs-font;
                    font-size: 18px;
                    border-bottom: solid 4px transparent;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    padding: 0 50px;
    
                    &:hover,&:active,&.active {
                        color: $main-font;
                        font-weight: bold;
                        border-color: $main-Border_2;
                    }
                }
            }
    
            // 搜尋欄
            .searchBox {
                width: auto;
                height: auto;
                position: relative;

                //ICON
                .searchIc {
                    width: 19px;
                    height: 20px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 7px;
                }

                input {
                    width: 264px;
                    height: 38px;
                    @include mainInput;
                    padding-left: 30px;
                }
            }

            //遊戲圖片
            .listAll .picBox img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
         //upArea
         .upArea {
            width: 100%;
            height: 40px;
            display: flex;
           

            .gameLogo {
                width: 100%;
                height: auto;
            }

            .back {
                width: 137px;
                height: auto;
                @include headerBtn_2;
                position: relative;

                .Arrow_ic {
                    width: 8px;
                    height: 15px;
                    position: absolute;
                    top: 13px;
                    left: 30px;
                }
                p {
                    font-size: 18px;
                    font-weight: bold;
                    margin-left: 27px;
                }
            }

        }
        // 遊戲總覽
        .gameCloum {
            display: grid;
            grid-template-columns: repeat(5,1fr);
            gap: 13px;
            margin: 20px 0;
    
            // 遊戲格
            .gameBlock {
                width: auto;
                height: 178px;
                @include bgStyle_1;
                border-radius: 10px;
                overflow: hidden;
    
                .picBox {
                    width: auto;
                    height: 146px;
                    position: relative;
                    cursor: pointer;
    
                    &:hover,&:active,&.active {
    
                        .mask {
                            opacity: 1;
                        }
                    }
    
                    .mask {
                        width: 100%;
                        height: 100%;
                        background: $coverBg;
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;
                        transition: 0.3s all;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        button {
                            width: 120px;
                            height: 32px;
                            
                            &:first-child {
                                @include slotBtn_1;
                                margin-bottom: 10px;
                            }

                            &:last-child {
                                @include slotBtn_2;
                            }
                        }
                    } 
                }
    
                // 遊戲名稱列+我的最愛
                .itemLine {
                    width: 100%;
                    height: auto;
                    border-top: 1px solid $main-Border_2;
                    display: flex;
                    justify-content: space-between;
                    padding: 6px 13px;
    
                    .gameName {
                        color: $main-font;
                        font-size: 16px;
                    }
                    
                    // +我的最愛
                    .addLike {
                        width: 21px;
                        height: 19px;
                        cursor: pointer;
    
                        &.active {
                            background-position-x: 100%;
                        }
                    }
                }
                
            }
        }
    }
}